.carousel-cell { width: 100%; min-height: 250px; height: 50vh; background-size: cover; }

.container { max-width: 1200px; text-align: center; font-family: 'Open Sans', sans-serif; margin: 0 auto; }

.progress-bar { height: 20px; width: 0; background: #333; }
